body {
	margin: 0;
	padding: 0;
}
* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Helvetica-Regular';
	src: url('../fonts/Helvetica.eot');
	src: url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Helvetica.woff2') format('woff2'),
			url('../fonts/Helvetica.woff') format('woff'),
			url('../fonts/Helvetica.ttf') format('truetype'),
			url('../fonts/Helvetica.svg#Helvetica') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica-Bold';
	src: url('../fonts/Helvetica-Bold.eot');
	src: url('../fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Helvetica-Bold.woff2') format('woff2'),
			url('../fonts/Helvetica-Bold.woff') format('woff'),
			url('../fonts/Helvetica-Bold.ttf') format('truetype'),
			url('../fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica-Light';
	src: url('../fonts/Helvetica-Light.eot');
	src: url('../fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Helvetica-Light.woff2') format('woff2'),
			url('../fonts/Helvetica-Light.woff') format('woff'),
			url('../fonts/Helvetica-Light.ttf') format('truetype'),
			url('../fonts/Helvetica-Light.svg#Helvetica-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Roboto-Regular.woff2') format('woff2'),
			url('../fonts/Roboto-Regular.woff') format('woff'),
			url('../fonts/Roboto-Regular.ttf') format('truetype'),
			url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Lt';
	src: url('../fonts/Roboto-Medium.eot');
	src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Roboto-Medium.woff2') format('woff2'),
			url('../fonts/Roboto-Medium.woff') format('woff'),
			url('../fonts/Roboto-Medium.ttf') format('truetype'),
			url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Lt';
	src: url('../fonts/Roboto-Light.eot');
	src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Roboto-Light.woff2') format('woff2'),
			url('../fonts/Roboto-Light.woff') format('woff'),
			url('../fonts/Roboto-Light.ttf') format('truetype'),
			url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}


@font-face {
    font-family: 'Gobold';
    src: url('../fonts/Gobold.eot');
    src: url('../fonts/Gobold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gobold.woff2') format('woff2'),
        url('../fonts/Gobold.woff') format('woff'),
        url('../fonts/Gobold.ttf') format('truetype'),
        url('../fonts/Gobold.svg#Gobold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
}
a:hover {
	text-decoration: none;
}
img {
    max-width: 100%;
}

/* contact css open */
.contact-top h1 {
	font-family: 'Helvetica-Bold';
	font-size: 48px;
	line-height: 55px;
	text-align: center;
	color: #383838;
	margin: 80px 0 60px 0;
}
.contact-wrapper .form-group {
	margin-bottom: 30px;
}
.contact-wrapper .label-login {
	color: #999;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	margin: 0 0 10px 0;
	font-family: 'Helvetica-Regular';
}
.contact-wrapper .input-login {
		color: #666;
    font-size: 14px;
    padding: 14px 14px;
    border-radius: 2px;
    border: 1px solid #d6d6d6;
    box-shadow: inset 0 1px 1px 0 rgb(0 0 0 / 6%);
				width: 100%;
}
.contact-wrapper .btn-filled {
	width: 100%;
}
.contact-wrapper {
	display: flex;
	margin-bottom: 80px;
}
.contact-left h3 {
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 600;
	font-family: 'Helvetica-Regular';
}
.contact-left p {
	color: #999;
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 50px 0;
	font-family: 'Helvetica-Regular';
}
.contact-left p a {
	color: #696969;
	text-decoration: underline;
}
.contact-left {
	width: 50%;
	padding-right: 200px;
}
.contact-right {
	width: 50%;
}
/* contact css close */

/* login css open */
.login-wrapper {
	width: 600px;
	max-width: 90%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.login-wrapper > h4 {
	color: #777;
	font-size: 36px;
	font-weight: normal;
	text-align: center;
	margin: 0 0 30px 0;
	font-family: 'Helvetica-Light';
}
.login-wrapper > h6 {
	color: #777;
	font-size: 14px;
	text-align: center;
	margin: 0 0 30px 0;
	font-family: 'Helvetica-Regular';
}
.login-wrapper > h6 a {
	color: #ff3151;
	font-weight: 600;
}
.login-wrapper-inner .form-group {
	margin-bottom: 30px;
}
.login-wrapper-inner .label-login {
	color: #999;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	margin: 0 0 10px 0;
	font-family: 'Helvetica-Regular';
}
.login-wrapper-inner .input-login {
		color: #666;
    font-size: 14px;
    padding: 14px 14px;
    border-radius: 2px;
    border: 1px solid #d6d6d6;
    box-shadow: inset 0 1px 1px 0 rgb(0 0 0 / 6%);
				width: 100%;
}
.login-wrapper-inner h6 {
	color: #777;
	font-size: 14px;
	text-align: center;
	margin: 40px 0;
	font-family: 'Helvetica-Regular';
	display: block;
}
.login-wrapper-inner h6 a {
	color: #ff3151;
	font-weight: 600;
}
.login-wrapper-inner .btn-filled {

				width: 100%;
}
/* login css close */

/* header open */
.custom-header {
	position: sticky;
	top: 0;
	background: #fff;
	z-index: 99999;
	border-bottom: 1px solid rgb(232, 232, 232);;
}
.custom-header .navbar-brand {
	padding: 0;
}
.custom-header .navbar-brand img {
	height: 30px;
}
.custom-header .navbar-collapse {
	padding-top: 8px;
}
.custom-header .nav-item {
	margin-left: 20px;
}
.custom-header .nav-item {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 14px;
	color: #676767;
}
.custom-header .nav-item a {
	color: #676767;
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 24px;
}
.custom-header .dropdown-toggle::after {
	content: "" !important;
	background: url(../images/dropdown-icon.png);
	background-size: 10px;
	width: 10px;
	height: 7px;
	border: 0;
	background-repeat: no-repeat;
	top: 5px;
	position: relative;
	left: 3px;
}
.login-tab {
	width: 72px;
	height: 38px;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	border-radius: 6px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -4px;
}
.signup-tab {
	width: 72px;
	height: 38px;
	background: linear-gradient(90deg, #FF3D32 0%, #FF2C5E 100%);
	border: 0px solid #CCCCCC;
	box-sizing: border-box;
	border-radius: 6px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -4px;
	color: #fff !important;
}
/* header close */

/* careers css open */
.careers-wrapper {
	padding: 70px 0 40px 0;
}
.careers-wrapper h1 {
	font-family: 'Helvetica-Bold';
	font-size: 48px;
	line-height: 55px;
	color: #383838;
	margin: 0 auto 20px;
}
.careers-wrapper p {
	font-family: "Helvetica-Regular";
	width: 460px;
	max-width: 100%;
	font-size: 14px;
	line-height: 24px;
	color: #676767;
	margin-bottom: 30px;
}
.hr-line {
	border-bottom: 1px solid rgb(232, 232, 232);
}
.careers-listing {
	display: flex;
	flex-wrap: wrap;
	width: 1000px;
	max-width: 100%;
	margin: 40px auto 0;
}
.careers-box {
	width: 46%;
	padding: 0 30px 30px 30px;
	border-bottom: 1px solid rgb(232, 232, 232);
	margin: 0 2% 80px 2%;
}
.careers-box h4 {
	font-family: 'Helvetica-Bold';
	font-size:28px;
	line-height: 40px;
	color: #383838;
	margin: 0;
}
.careers-box h6 {
	font-family: 'Helvetica-Regular';
	font-size: 16px;
	line-height: normal;
	color: #383838;
	margin: 5px 0 40px 0;
}
.joblist li {
	font-family: 'Helvetica-Regular';
	font-size: 16px;
	line-height: normal;
	color: #383838;
	margin: 0 0 10px 0;
	letter-spacing: 1.5px;
}
.joblist li a {
	color: #383838;
	transition: all .3s ease-in-out;
}
.joblist li a:hover {
	color: #ff3447;
}
.careers-box > .btn-filled {
	min-width: 80px;
	padding: 12px 5px;
	margin-top: 10px;
}
/* careers css close */

/* careers details css open */
.careers-details-wrapper {
	padding: 70px 0 0 0;
}
/* careers details css close */

/* terms css open */
.terms-top {
	padding: 70px 0 40px 0;
}
.terms-top h1 {
	font-family: 'Helvetica-Bold';
	font-size: 48px;
	line-height: 55px;
	color: #383838;
	margin: 0 auto 60px;
}
.terms-top h4 {
	font-family: 'Helvetica-Bold';
	font-size: 20px;
	line-height: 30px;
	color: #383838;
	margin: 0 0 5px 0;
}
.terms-top p {
	font-family: "Helvetica-Regular";
	font-size: 14px;
	line-height: 24px;
	color: #676767;
	margin-bottom: 40px;
}
.terms-top h5 {
	font-family: 'Helvetica-Regular';
	font-size: 14px;
	line-height: 24px;
	color: #383838;
	margin: 0 0 0 0;
}
/* terms css close */

/* customers css open */
.customers-top {
	padding: 70px 0 0 0;
}
.customers-top h1 {
	font-family: 'Helvetica-Bold';
	font-size: 48px;
	line-height: 55px;
	text-align: center;
	color: #383838;
	margin: 0 auto 80px;
}
.customers-wrapper {
	padding: 100px 0px 150px 0px;
	position: relative;
}
.customers-wrapper::after {
	content: "";
	background: #E5E5E5;
	width: 100%;
	height: 480px;
	position: absolute;
	top: 0;
}
.customerslist {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 1;
	position: relative;
}
.customerslist li {
	width: 140px;
	margin: 0 20px 40px 20px;
}
.customer-testimonial-box {
	width: 770px;
	max-width: 90%;
	min-height: 321px;
	background: #FFF6F4;
	border-radius: 8px;
	margin: 0 auto;
	position: relative;
	top: 50px;
	z-index: 9;
	display: flex;
}
.imgbox {
	width: 215px;
}
.imgbox img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.imgtxt {
	width: calc(100% - 215px);
	padding: 40px 50px;
	position: relative;
}
.doublecode {
	width: 40px;
	position: absolute;
	top: -15px;
}
.imgtxt p {
	font-family: "Helvetica-Regular";
	font-size: 16px;
	line-height: 24px;
	color: #383838;
	padding: 20px 0 50px 0;
}
.flex-btm {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-btm h4 {
	font-family: "Helvetica-Regular";
	font-size: 18px;
	line-height: 22px;
	color: #383838;
}
.flex-btm img {
	width: 120px;
}
.customer-testimonial-box-btm {
	width: 770px;
	max-width: 90%;
	min-height: 230px;
	background: #fff;
	border-radius: 8px;
	margin: 0 auto;
	position: relative;
	top: 77px;
	z-index: 9;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px 0;
}
.customer-testimonial-box-btm-inner {
	width: 48%;
	background: #F8F8F8;
	padding: 30px 20px;
	display: flex;
	flex-wrap: wrap;
}
.customer-testimonial-box-btm-inner p {
	font-family: "Helvetica-Regular";
	font-size: 14px;
	line-height: 24px;
	color: #676767;
	margin-bottom: 30px;
}
.customer-testimonial-box-btm-inner .flex {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}
.customer-testimonial-box-btm-inner .flex h4 {
	font-family: "Helvetica-Regular";
	font-size: 18px;
	line-height: 22px;
	color: #676767;
	margin-bottom: 0;
}
.customer-testimonial-box-btm-inner .flex h6 {
	font-family: "Helvetica-Regular";
	font-size: 14px;
	line-height: 22px;
	color: #676767;
}
.customer-testimonial-box-btm-inner .flex img {
	width: 106px;
}
/* customers css close */

/* case studies css open */
.case-list {
	width: 100%;
	margin-bottom: 50px;
}
.case-list li {
	display: flex;
	align-items: center;
	padding: 40px 0;
}
.case-list li .case-img {
	width: 460px;
}
.case-list li .case-img img {
	width: 100%;
}
.case-list li .case-details {
	width: calc(100% - 460px);
	padding: 0 0 0 50px;
}
.case-list li .case-details h6 {
	font-family: "Helvetica-Regular";
	font-size: 12px;
	line-height: 17px;
	color: #383838;
}
.case-list li .case-details h1 {
	font-family: "Helvetica-Bold";
	font-size: 42px;
	line-height: 52px;
	color: #383838;
	margin-top: 14px;
	margin-bottom: 14px;
}
.case-list li .case-details h5 {
	font-family: "Helvetica-Regular";
	font-size: 14px;
	line-height: 17px;
	color: #383838;
}
.case-list li .case-details h5 img {
	height: 14px;
	width: auto;
	margin-left: 10px;
}
.case-btn .btn-filled img {
	width: 20px;
  margin-left: 5px;
}
.width600 {
	width: 600px !important;
	max-width: 100%;
	margin: 60px auto 0;
	border-top: 1px solid rgb(232, 232, 232);
	padding: 50px 0;
}
/* case studies css close */

/* ready css open */
.ready-clients {
	padding: 70px 0 70px 0;
}
.ready-clients h1 {
	font-family: 'Helvetica-Bold';
	font-size: 48px;
	line-height: 55px;
	text-align: center;
	color: #383838;
	margin: 0 auto 30px;
}
.ready-clients p {
	width: 457px;
	max-width: 100%;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #383838;
	margin: 0 auto 50px;
}
.ready-clients .customerslist {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 1;
	position: relative;
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
}


.reverse-col {
	flex-direction: row-reverse;
}
.ready-products {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 120px;
}
.ready-products:last-child {
	margin-bottom: 20px;
}
.ready-products .ready-left {
	width: 48%;
}
.ready-products .ready-right {
	width: 48%;
}
.ready-products .ready-right h2 {
	font-family: 'Helvetica-Bold';
	font-size: 40px;
	line-height: 50px;
	color: #383838;
	margin: 0 0 30px 0;
}
.ready-products .ready-right > p {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #383838;
    margin: 0 0 30px 0;
}
.ready-products .ready-right > p span {
	font-weight: bolder;
}


.pricing-box {
	width: 750px;
	max-width: 94%;
	margin: 120px auto 0;
}
.pricing-box h3 {
	font-weight: bold;
	font-size: 36px;
	line-height: 41px;
	text-align: center;
	color: #383838;
	margin-bottom: 30px;
}
.pricing-list {
	display: flex;
	margin: 0 0 50px 0;
	justify-content: space-around;
}
.pricing-list li {
	width: 320px;
	padding: 0 0;
	background: #E5E5E5;
	text-align: center;
}
.pricing-list li .head-sec {
	background: url("../images/pricing1.png") no-repeat;
	background-size: 100%;
	height: 230px;
	position: relative;
}
.pricing-list li:last-child .head-sec {
	background: url("../images/pricing2.png") no-repeat;
	background-size: 100%;
	height: 230px;
	position: relative;
}
.pricing-list li .head-sec h4 {
	font-family: 'Helvetica-Bold';
	font-size: 17px;
	line-height: 22px;
	text-align: center;
	color: #383838;
	position: absolute;
	left: 50%;
	top: 195px;
	transform: translate(-50%, -40px);
	width: 100%;
}
.pricing-list li .text-sec {
	padding: 20px;
	height: 150px;
}
.pricing-list li .text-sec p {
	font-family: 'Helvetica';
	font-size: 14px;
	line-height: 32px;
	color: #383838;
	padding: 0 10px;
}
.pricing-list li .footer {
	padding-bottom: 30px;
}
/* ready css close */

/* single blog css open */
.single-blog-wrapper {
	padding: 70px 0;
	display: flex;
	align-items: center;
}
.single-blog-left {
	width: 45%;
	padding-right: 40px;
}
.single-blog-left img {
	width: 100%;
}
.single-blog-right {
	width: 55%;
}
.single-blog-right h6 {
	font-family: 'Helvetica-Regular';
	font-size: 12px;
	line-height: 20px;
	text-align: left;
	color: #383838;
	margin: 0 0 0 0;
}
.single-blog-right h1 {
	font-family: 'Helvetica-Bold';
	font-size: 48px;
	line-height: 58px;
	text-align: left;
	color: #383838;
	margin: 0 0 10px 0;
}
.single-blog-right h4 {
	font-family: 'Helvetica-Regular';
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	color: #383838;
	margin: 0 0 10px 0;
}
.single-blog-right h5 {
	font-family: 'Helvetica-Regular';
	font-size: 12px;
	line-height: 20px;
	text-align: left;
	color: #383838;
	margin: 0 0 0 0;
}
.single-blog-details {
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
}
.single-blog-details p {
	font-family: 'Helvetica-Regular';
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	color: #383838;
	margin: 0 0 30px 0;
}
.single-blog-details h4 {
	font-family: 'Helvetica-Bold';
	font-size: 18px;
	line-height: 20px;
	text-align: left;
	color: #383838;
	margin: 10px 0 5px 0;
}
.single-blog-details .author-section {
	font-family: "Helvetica-Regular";
	font-size: 12px;
	line-height: 15px;
	color: #383838;
	margin-bottom: 30px;
}
.single-blog-details .author-section img {
	width: 32px;
	height: 32px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 5px;
}
.single-blog-details .author-section-lg {
	font-family: "Helvetica-Regular";
	font-size: 12px;
	line-height: 15px;
	color: #383838;
	margin-bottom: 60px;
	border-bottom: 1px solid rgb(232, 232, 232);
	padding-bottom: 40px;
}
.single-blog-details .author-section-lg img {
	width: 72px;
	height: 72px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 5px;
}
.subscribe-newsletter {
	width: 100%;
}
.subscribe-newsletter-inner {
	padding: 20px 60px;
}
.subscribe-newsletter-inner .form-group {
	margin-bottom: 26px;
}
.subscribe-newsletter h4 {
	font-family: "Helvetica-Bold";
	font-size: 22px;
	line-height: 28px;
	color: #383838;
	margin-bottom: 20px;
}
.input-newsletter {
	width: 100%;
	height: 54px;
	background: #F5F5F5;
	border-radius: 10px;
	font-family: Helvetica;
	font-size: 14px;
	line-height: normal;
	letter-spacing: 0.3em;
	color: #676767;
	outline: none;
	border: none;
	padding: 0 20px;
}
.subscribe-newsletter .btn-filled {
  width: 100%;
}
/* single blog css close */

/* blog css open */
.container-color {
	background: #FFF6F4;
	margin-top: 20px;
}
.blog-top {
	width: 892px;
	max-width: 100%;
	margin: 70px auto;
}
.blog-top p {
	font-family: 'Helvetica-Regular';
	font-size: 14px;
	line-height: 24px;
	text-align: left;
	color: #383838;
	margin: 0 0 10px 0;
}
.blog-top h1 {
	font-family: 'Helvetica-Bold';
	font-size: 48px;
	line-height: 55px;
	text-align: left;
	color: #383838;
	margin: 0 auto 80px;
}
.blog-list {
	width: 100%;
	margin-bottom: 50px;
}
.blog-list li {
	
	border-bottom: 1px solid rgb(232, 232, 232);
	padding: 30px 0;
}
.blog-list li a {
	display: flex;
}
.blog-list li .blog-img {
	width: 180px;
}
.blog-list li .blog-img img {
	width: 180px;
}
.blog-list li .blog-details {
	width: calc(100% - 400px);
	padding: 0 40px 0 40px;
}
.blog-list li .blog-details h6 {
	font-family: "Helvetica-Regular";
	font-size: 12px;
	line-height: 17px;
	color: #383838;
}
.blog-list li .blog-details h1 {
	font-family: "Helvetica-Bold";
	font-size: 24px;
	line-height:32px;
	color: #383838;
	margin-bottom: 10px;
}
.blog-list li .blog-details .author-section {
	font-family:"Helvetica-Regular";
	font-size: 12px;
	line-height: 15px;
	color: #383838;
}
.blog-list li .blog-details .author-section img {
	width: 26px;
	height: 26px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 5px;
}
.blog-list li .blog-txt {
	width: 280px;
}
.blog-list li .blog-txt p {
	font-family:"Helvetica-Regular";
	font-size: 14px;
	line-height: 22px;
	color: #383838;
}
.pagination-wrapper {
	text-align: center;
	margin-bottom: 50px;
	font-family:"Helvetica-Regular";
	font-size: 14px;
}
.pagination-wrapper img {
	width: 22px;
	margin-left: 10px;
}
/* blog css close */

/* about css open */
.about-top {
	padding: 70px 0 0 0;
}
.about-top h1 {
	width: 634px;
	max-width: 100%;
	font-family: 'Helvetica-Bold';
	font-size: 48px;
	line-height: 55px;
	text-align: left;
	color: #383838;
	margin: 0 auto 80px;
}
.about-top h3 {
	width: 400px;
	max-width: 100%;
	font-family: 'Helvetica-Bold';
	font-size: 32px;
	line-height: 42px;
	text-align: left;
	color: #383838;
	margin: 0 0 20px 0;
}
.about-top p {
	font-family: 'Helvetica-Regular';
	font-size: 14px;
	line-height: 24px;
	text-align: left;
	color: #383838;
	margin: 0 0 20px 0;
}
.team-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
	padding: 50px 0;
	border-top: 1px solid rgb(232, 232, 232);
}
.team-list li {
	width: 50%;
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}
.team-list li .team-img {
	width: 170px;
	height: 170px;
}
.team-list li .team-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	transition: all .3s ease-in-out;
	border: 3px solid transparent;
}
.team-list li .team-img img:hover {
	border: 3px solid #ff3547;
}
.team-list li .team-txt {
	padding-left: 24px;
}
.team-list li .team-txt h4 {
	font-family: 'Helvetica-Bold';
	font-size: 20px;
	line-height: 28px;
	color: #383838;
	margin-bottom: 5px;
}
.team-list li .team-txt h6 {
	font-family: 'Helvetica-Regular';
	font-size: 18px;
	line-height: 24px;
	color: #383838;
	margin-bottom: 5px;
}
.team-list li .team-txt p {
	font-family: 'Helvetica-Regular';
	font-size: 14px;
	line-height: 24px;
	color: #383838;
	margin: 0;
}
.joinus-box {
	width: 709px;
	max-width: 100%;
	min-height: 286px;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
	margin: 0 auto;
	padding: 100px 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.joinus-box h4 {
	font-family: 'Helvetica-Bold';
	font-size: 34px;
	line-height: 45px;
	color: #383838;
	margin: 0 0 20px 0;
}
.joinus-box p {
	font-family: 'Helvetica-Regular';
	font-size: 14px;
	line-height: 24px;
	color: #383838;
	margin: 0 0 20px 0;
	width: 290px;
	max-width: 100%;
}

.whytoch-wrapper {
	display: flex;
	align-items: center;
	padding: 70px 0 0 0;
}
.whytoch-img {
	width: 50%;
}
.whytoch-txt {
	padding-left: 80px;
}
.whytoch-txt h4 {
	font-family: 'Helvetica-Bold';
	font-size: 34px;
	line-height: 45px;
	color: #383838;
	margin: 0 0 20px 0;
}
.whytoch-txt p {
	font-family: 'Helvetica-Regular';
	font-size: 14px;
	line-height: 24px;
	color: #383838;
	margin: 0 0 20px 0;
	width: 360px;
	max-width: 100%;
}
/* about css close */

/* banner section open */
.home-banner-wrapper {
	padding: 70px 0 0 0;
}
.home-banner-wrapper h1 {
	width: 712px;
	max-width: 100%;
	font-family: 'Helvetica-Bold';
	font-size: 68px;
	line-height: 75px;
	text-align: center;
	color: #383838;
	margin: 0 auto 60px;
}



.home-banner-wrapper .credit-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px auto;
}
.home-banner-wrapper .credit-left {
	width: 370px;
	max-width: 100%;
}
.home-banner-wrapper .credit-left h3 {
	font-family: 'Helvetica-Bold';
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	margin: 0 0 15px 0;
}
.home-banner-wrapper .credit-left p {
	font-family: 'Helvetica';
	font-size: 16px;
	line-height: 26px;
	color: #383838;
	margin: 0;
	padding: 0;
	width: 100%;
}
.home-banner-wrapper .credit-right {
	display: flex;
	padding-left: 70px;
}
.home-banner-wrapper .credit-right .btn-filled {
	margin-right: 20px;
}

.homebanner {
	min-height: 500px;
	margin-bottom: 70px;
	position: relative;
	width: 900px;
	max-width: 100%;
	margin: 0 auto;
}
.homebanner .phone {
	position: absolute;
	left: 0;
	top: 40px;
	transition: all .3s ease-in-out;
}
.homebanner .browser {
	width: 520px;
	height: 320px;
	position: absolute;
	right: 0;
	top: -80px;
	transition: all .5s ease-in-out;
}
.homebanner .phone:hover,
.homebanner .browser:hover {
	z-index: 9;
	transform: translateY(-4px) translateX(4px);
	transition: all .5s ease-in-out;
}
.homebanner h3 {
	font-family: 'Helvetica-Bold';
	font-size: 24px;
	line-height: 22px;
	color: #383838;
	margin-bottom: 50px;
}
.homebanner .center-part {
	margin: 100px auto 10px;
	height: 442px;
	width: 630px;
	max-width: 90%;
	z-index: 5;
	text-align: left;
	box-shadow: rgb(92 128 255 / 12%) -200px 0px 200px, rgb(168 255 128 / 12%) 140px 50px 100px;
	background: #fff;
	position: relative;
	border: 1px solid #ccc;
}
.box {
	padding: 40px 40px 20px 40px;
	font-family: Helvetica;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	word-break: break-all;
}
.browser {
	background: #666;
	position: relative;
}
.iUjqRv {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 28px;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 5px;
}
.eaJtPp {
	position: absolute;
	top: 10px;
	left: 10px;
	display: flex;
}
.eaJtPp > * {
	margin-right: 5px;
}
.kTNQcq {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: rgb(238, 108, 94);
}
.kBiicq {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: rgb(246, 191, 80);
}
.cxjzCm {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: rgb(98, 198, 85);
}








.homebanner h4 {
	font-family: 'Helvetica';
	font-size: 14px;
	line-height: 22px;
	color: #FF2C5E;
	margin: 0 0 10px 0;
}

	.homebanner .left-section {
		width: 50%;
		position: relative;
		float: left;
	}
	.left-section-first {
		position: absolute;
		padding-right: 54px;
    padding-bottom: 60px;
	}
	.left-section-second {
		position: absolute;
		z-index: 1;
		left: 54px;
    top: 60px;
	}
	.left-section-first img,
	.left-section-second img {
		width: 100%;
	}
	.demo1 {
		z-index: 999;
	}
	.demo2 {
		z-index: 99999;
	}
	.homebanner .right-section {
		width: 50%;
		float: left;
		margin-left: 50%;
		padding-left: 80px;
	}
	.response-sec {
		width: 537px;
		height: 289px;
		background: #e8e8e8;
		padding: 20px;
		margin-top: 20px;
	}
/* banner section close */


/* list section open */
.list-wrapper {
	padding: 70px 0;
}
.list-wrapper .list {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.list-wrapper .list li {
	width: 23%;
	background: #FFF5F8;
	padding: 20px;
}
.list-wrapper .list li:nth-child(2) {
	background: #F2F9F1;
}
.list-wrapper .list li:nth-child(3) {
	background: #E8F7F9;
}
.list-wrapper .list li:nth-child(4) {
	background: #F1ECFC;
}
.list-wrapper .list li img {
	height: 48px;
	width: auto;
	object-fit: cover;
	margin-bottom: 30px;
}
.list-wrapper .list li h4{
	font-family: 'Helvetica-Regular';
	font-size: 36px;
	line-height: 22px;
	color: #383838;
	margin-bottom: 10px;
}
.list-wrapper .list li p {
	font-family: 'Helvetica-Regular';
	font-size: 14px;
	line-height: 22px;
	color: #383838;
	width: 190px;
}
/* list section close */

/* features video section open */
.features-video-wrapper {
	padding: 70px 0 0 0;
}
.features-video-wrapper h6 {
	font-family: 'Helvetica-Regular';
	font-size: 14px;
	text-align: center;
	margin-bottom: 10px;
	color: rgb(251, 60, 78);
	letter-spacing: 1px;
}
.features-video-wrapper h4 {
	font-family: 'Helvetica-Bold';
	font-size: 36px;
	line-height: 41px;
	text-align: center;
	margin-bottom: 50px;
	color: #383838;
}
.features-video-wrapper .nav-tabs {
	max-width: 400px;
	margin: 0 auto 70px;
}
.features-video-wrapper .nav-tabs .nav-item {
	margin-bottom: -1px;
	width: 50%;
}
.features-video-wrapper .nav-tabs .nav-link {
	font-family: 'Helvetica-Bold';
	font-size: 20px;
	line-height: 41px;
	text-align: center;
	color: #b1b0b0;
}
.features-video-wrapper .nav-tabs .nav-item.show .nav-link, 
.features-video-wrapper .nav-tabs .nav-link.active {
	border: 0;
	border-bottom: 2px solid #333;
	color: #383838;
}
.left-side {
	width: 50%;
	float: left;
	padding-right: 24px;
}
.right-side {
	width: 50%;
	float: left;
	padding-left: 24px;
}
.left-side-box {
	border: 1px solid rgb(232, 232, 232);
	margin: 40px 0;
}
.left-side-box .seperater {
	padding: 20px 20px;
	border-bottom: 1px solid rgb(232, 232, 232);
}
.responsebox {
	width: 100%;
	height: 350px;
	background: #f1f1f1;
	font-family: 'Helvetica-Regular';
	font-size: 14px;
	display: none;
}
.left-side h6,
.right-side h6 {
	font-family: 'Helvetica-Regular';
	font-size: 14px;
	text-align: left;
	margin-bottom: 10px;
	color: rgb(251, 60, 78);
	letter-spacing: 1px;
}
.left-side h3,
.right-side h3 {
	font-family: 'Helvetica-Bold';
	font-size: 24px;
	line-height: 41px;
	margin-bottom: 15px;
}
.left-side p,
.right-side p {
	font-family: 'Helvetica-Regular';
	font-size: 14px;
	text-align: left;
	margin-bottom: 30px;
	color: rgb(56, 56, 56);
	letter-spacing: 1px;
	line-height: 24px;
	min-height: 75px;
	word-break: break-all;
}
.left-side h5,
.right-side h5 {
	font-family: 'Helvetica-Regular';
	font-size: 14px;
	text-align: left;
	margin-bottom: 30px;
	color: rgb(56, 56, 56);
	letter-spacing: 1px;
	word-break: break-all;
}
.dynamic-para {
	font-family: 'Helvetica-Regular';
	font-size: 14px;
	text-align: center;
	margin-bottom: 30px;
	color: rgb(153, 153, 153);
	letter-spacing: 1px;
}
.publishing-box {
	width: 100%;
	min-height: 300px;
	border: 1px solid rgb(232, 232, 232);
	padding: 14px;
	display: none;
}
.publishing-box .video-links a {
	text-decoration: none;
	display: block;
	color: #212529;
	font-size: 14px;
	line-height: normal;
}
/* features video section close */


/* features section open */
.features-wrapper {
	padding: 70px 0;
}
.features-list {
	display: flex;
	margin: 0 -15px 50px -15px;
}
.features-list li {
	width: 23%;
	margin: 0 1%;
	background: #E5E5E5;
}
.features-list li .head-sec {
	background: url("../images/features1.png") no-repeat;
	background-size: 100%;
  height: 230px;
	position: relative;
}
.features-list li:nth-child(2) .head-sec {
	background: url("../images/features2.png") no-repeat;
	background-size: 100%;
  height: 230px;
	position: relative;
}
.features-list li:nth-child(3) .head-sec {
	background: url("../images/features3.png") no-repeat;
	background-size: 100%;
  height: 230px;
	position: relative;
}
.features-list li:nth-child(4) .head-sec {
	background: url("../images/features4.png") no-repeat;
	background-size: 100%;
  height: 230px;
	position: relative;
}
.features-list li .head-sec h4 {
	font-family: 'Helvetica-Bold';
	font-size: 17px;
	line-height: 22px;
	text-align: center;
	color: #383838;
	position: absolute;
	left: 50%;
	top: 195px;
	transform: translate(-50%, -40px);
	width: 100%;
}
.features-list li .text-sec {
	padding: 0 10px 30px 10px;
}
.features-list li .text-sec p {
font-family: 'Helvetica';
font-size: 14px;
line-height: 32px;
color: #383838;
padding: 0 10px;
}
/* features section close */

/* video app section open */
.video-app-wrapper {
	padding: 70px 0;
	display: flex;
	align-items: center;
}
.video-app-left {
	width: calc(100% - 524px);
}
.video-app-right {
	width: 524px;
	max-width: 100%;
	padding-left: 90px;
}
.video-app-right h3 {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 30px;
	line-height: 41px;
	text-align: right;
	color: #383838;
}
.video-app-list {
	display: flex;
	flex-wrap: wrap;
}
.video-app-list li {
	width: 33.333%;
	padding: 20px 30px;
}
.manymore-btn {
	font-family: Helvetica;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	color: #383838 !important;
	text-align: center;
	display: block;
	margin-top: 20px;
}
/* video app section close */

/* credit section open */
.credit-section {
	background: #383838;
	padding: 80px 0;
}
.credit-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.credit-left {

}
.credit-left h3 {
	font-family: 'Helvetica-Bold';
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	margin: 0 0 15px 0;
}
.credit-left p {
	font-family: 'Helvetica-Light';
	font-size: 18px;
	line-height: 26px;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}
.credit-section .btn-outline {
	color: #fff;
}
.credit-sectio .btn-outline:hover,
.credit-sectio .btn-outline:focus {
	color: #fff;
	border: 2px solid #C4C4C4;
}
.btn-outline {
	min-width: 170px;
	border: 2px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 6px;
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	color: #4a4949;
	display: inline-block;
	padding: 16px 5px;
	transition: all .3s ease-in-out;
}
.btn-outline:hover,
.btn-outline:focus {
	background: #4a4949;
	color: #FFFFFF;
	border: 2px solid #4a4949;
	outline: none;
}
.btn-filled {
	min-width: 170px;
	border: 0 solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 6px;
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	color: #FFFFFF;
	display: inline-block;
	padding: 18px 5px;
	background: linear-gradient(90deg, #FF3D32 0%, #FF2C5E 100%);
	transition: all .3s ease-in-out;
}
.btn-filled:hover,
.btn-filled:focus {
	background: linear-gradient(90deg, #FF2C5E 0%, #FF3D32 100%);
	color: #FFFFFF;
	outline: none;
}
/* credit section close */

/* footer section open */
.footer-wrapper {
	background: #fff;
	padding: 70px 0 40px 0;
}
.socials-media {
	display: flex;
	margin-top: 50px;
}
.socials-media a {
	width: 34px;
	height: 34px;
	background: #222221;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	color: #fff;
}
.footer-wrapper h2 {
	font-family: "Helvetica-Bold";
	font-size: 20px;
	line-height: 28px;
	color: #383838;
	min-height: 28px;
}
.footer-wrapper p {
	font-family: Helvetica;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #383838;
	padding: 24px 0 0 0;
}
.footer-wrapper ul li a {
	font-family: Helvetica;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #383838;
	padding: 18px 0 0 0;
	display: inline-block;
}
.brand-logo-footer {
	width: 80px;
	margin-bottom: 5px;
}
.footer-btm {
	border-top: 1px solid #ccc;
	margin-top: 30px;
	padding-top: 30px;
}
.footer-btm p {
	font-family: Helvetica;
	font-size: 14px;
	line-height: 24px;
	color: #676767;
	padding: 0;
}
.footer-btm a {
	font-family: Helvetica;
	font-size: 14px;
	line-height: 16px;
	color: #676767;
}
.footer-btm .right {
	text-align: right;
}
/* footer section close */





.pills-edit .nav-link {
	font-family: Helvetica;
	font-size: 14px;
	color: #676767;
}
.pills-edit .nav-link.active {
		color: #fff;
  background: linear-gradient(90deg, #FF3D32 0%, #FF2C5E 100%) !important;
}
.video-listing {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1.5%;
}
.video-listing li {
	width: 47%;
	margin: 0 1.5% 40px 1.5%;
	font-size: 14px;
}
.video-listing li .video-links {
	margin-top: 5px;
}
.video-listing li .video-links a {
	text-decoration: none;
    display: block;
    color: #212529;
    font-size: 14px;
    line-height: normal;
}
.video-edit button {
	color: #fff;
	background-color: #072cfe !important;
	text-transform: unset !important;
	letter-spacing: normal !important;
	font-weight: 600 !important;
	padding: 6px 16px;
	font-size: 12px;
	border: 0;
	border-radius: 4px;
	width: 100%;
}
.video-status {
	text-align: center;
	margin-top: 5px;
	font-family: 'Helvetica-Regular';
	font-size: 14px;
}
 
.new {
	margin: 5px 0;
}
.new .form-group {
			display: block;
			margin-bottom: 0;
	}
	.new .form-group input {
			padding: 0;
			height: initial;
			width: initial;
			margin-bottom: 0;
			display: none;
			cursor: pointer;
	}
	.new .form-group label {
			position: relative;
			cursor: pointer;
			text-align: left;
			width: 100%;
			display: flex;
   align-items: center;
			font-family: 'Helvetica-Regular';
			font-size: 14px;
	}
	.new .form-group label:before {
			content:'';
			-webkit-appearance: none;
			background-color: transparent;
			border: 2px solid #ccc;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
			padding: 6px;
			display: inline-block;
			position: relative;
			vertical-align: middle;
			cursor: pointer;
			margin-right: 5px;
			border-radius: 3px;
	}
	.new .form-group input:checked + label:before {
		border: 2px solid #000;
	}
	.new .form-group input:checked + label:after {
			content: '';
			display: block;
			position: absolute;
			top: 4px;
			left: 6px;
			width: 4px;
			height: 10px;
			border: solid #000;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
	}





/* media open */
@media (max-width:980px) {
	.video-listing li {
		width: 47%;
		margin: 0 1.5% 40px 1.5%;
}
	.contact-left {
		width: 50%;
		padding-right: 50px;
}
	.navbar-toggler {
		padding-right: 0;
	}
	.navbar-toggler:focus {
		outline: none;
	}
	.navbar-collapse.collapse,
	.navbar-collapse {
		position: fixed !important;
    left: 100%;
    right: 0;
    top: 50px;
    bottom: 0;
    background: white;
    transition: all .3s ease-in-out;
    transform: translateX(100%);
		flex-basis: unset !important;
		flex-grow: unset !important;
		display: block;
	}
	.navbar-collapse.collapse.show {
		position: fixed !important;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    background: white;
		transition: all .3s ease-in-out;
    transform: translateX(0);
		flex-basis: unset !important;
		flex-grow: unset !important;
	}
	.custom-header .nav-item {
		line-height: normal;
		padding: 10px 0;
}
.custom-header .navbar-nav {
	padding-top: 20px;
}
.custom-header .nav-item {
	margin-left: 20px;
	margin-right: 20px;
}
.login-tab {
	width: 100%;
}
.signup-tab {
	width: 100%;
}
	.credit-flex {
		flex-wrap: wrap;
		justify-content: center;
	}
	.credit-left {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
	}
	.footer-wrapper ul li:last-child {
		margin-bottom: 60px;
	}
	.customers-wrapper::after {
		height: 610px;
	}
	.customerslist li {
    width: 100px;
	}
	.about-top h3 {
    width: 100%;
	}
	.about-top h3 + .btn-filled {
		margin-bottom: 30px;
	}
	.blog-list li .blog-img {
    width: 150px;
	}
	.blog-list li .blog-details {
		width: calc(100% - 300px);
		padding: 0 20px 0 20px;
	}
	.blog-list li .blog-txt {
		width: 200px;
	}
	.single-blog-right h1 {
    font-size: 40px;
    line-height: 50px;
	}
	.blog-top h1 {
    font-size: 40px;
    line-height: 50px;
	}
	.case-list li .case-img {
		width: 200px;
	}
	.case-list li .case-details {
		width: calc(100% - 200px);
		padding: 0 0 0 30px;
	}
	.case-list li .case-details h1 {
		font-size: 38px;
		line-height: 48px;
	}
	.list-wrapper .list {
    flex-wrap: wrap;
}
.list-wrapper .list li {
	width: 48%;
	margin: 10px 0;
}
.features-list {
	flex-wrap: wrap;
}
.features-list li {
	width: 50%;
	padding: 15px;
}
.video-app-wrapper {
	flex-wrap: wrap;
}
.video-app-left {
	width: 100%;
}
.video-app-right {
	width: 100%;
	padding: 0;
}
.video-app-right h3 {
	text-align: center;
}
}


@media (max-width:767px) {
	.careers-box {
		width: 100%;
		margin: 0 0 20px 0;
		padding: 0 0 30px 0;
	}
	.careers-wrapper h1 {
		font-size: 40px;
		line-height: 50px;
		margin-top: 24px;
	}
	.pricing-list {
		justify-content: center;
		flex-wrap: wrap;
}
.pricing-list li {
	width: 100%;
	padding: 0 0;
	background: #E5E5E5;
	text-align: center;
	margin-bottom: 20px;
}
	.ready-clients h1 {
		font-size: 40px;
		line-height :50px;
	}
	.ready-products {
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	.ready-products .ready-left {
		width: 100%;
}
.ready-products .ready-right {
	width: 100%;
	padding-top: 30px;
}
.ready-products .ready-right h2 {
	font-size: 30px;
	line-height: 40px;
}
.ready-products .ready-right > p {
	font-size: 16px;
	line-height: 22px;
}
	.publishing-box {
		width: 100%;
		padding: 8px;
}
	.contact-top h1 {
		font-size: 44px;
		line-height: 50px;
		margin: 60px 0 40px 0;
}
	.contact-wrapper {
		flex-wrap: wrap;
	}
	.contact-left {
		width: 100%;
		padding-right: 0;
}
.contact-right {
	width: 100%;
}
	.homebanner .phone {
    width: 100px;
}
	.homebanner .browser {
		width: 260px;
    height: 160px;
	}
	.home-banner-wrapper h1 {
    font-size: 50px;
    line-height: 60px;
}
.home-banner-wrapper .credit-right {
	flex-wrap: wrap;
	padding: 0;
}
.home-banner-wrapper .credit-right .btn-outline {
	margin: 0 !important;
}
.home-banner-wrapper .credit-right .btn-filled {
	margin-right: 0;
	margin-bottom: 10px;
}
	.video-app-list li {
    width: 49.333%;
    padding: 20px 20px;
}
	.features-list li {
    margin: 15px 0;
		width: 100%;
}
	.left-side {
    width: 100%;
    padding: 0;
}
.right-side {
	width: 100%;
	padding: 0;
}
.features-video-wrapper .nav-tabs {
	max-width: 100%;
	margin: 0 auto 70px;
	width: 100%;
}
.features-video-wrapper .nav-tabs .nav-link {
	font-size: 16px;
	padding-left: 0;
	padding-right: 0;
}
	.list-wrapper .list li {
    width: 100%;
    margin: 20px 0;
}
	.case-list li {
    flex-wrap: wrap;
}
.case-list li .case-img {
	width: 100%;
	margin-bottom: 20px;
}
.case-list li .case-details {
	width: 100%;
	padding: 0;
}
.case-list li .case-details h1 {
	font-size: 32px;
	line-height: 42px;
}
	.subscribe-newsletter-inner {
    padding: 20px 20px;
}
	.single-blog-wrapper {
    padding: 30px 0 30px 0;
    flex-wrap: wrap;
}
.single-blog-left {
	width: 100%;
	padding: 0 0 20px 0;
}
.single-blog-right {
	width: 100%;
}
.single-blog-right h1 {
	font-size: 38px;
	line-height: 48px;
}
	.blog-top h1 {
    font-size: 38px;
    line-height: 48px;
	}
	.blog-list li a {
    flex-wrap: wrap;
	}
	.blog-list li .blog-img {
    width: 100%;
	}
	.blog-list li .blog-details {
		width: 100%;
		padding: 20px 0;
	}
	.blog-list li .blog-txt {
		width: 100%;
	}
	.blog-list li .blog-details h1 {
    font-size: 22px;
    line-height: 30px;
		margin-top: 5px;
	}
	.about-top h1 {
    font-size: 38px;
    line-height: 46px;
	}
	.about-top h3 {
    font-size: 28px;
    line-height: 38px;
}
	.credit-flex {
		flex-wrap: wrap;
		justify-content: center;
	}
	.credit-left h3 {
		font-size: 36px;
    line-height: 44px;
	}
	.credit-right .btn-outline {
    width: 100%;
    margin: 0 0 14px 0 !important;
	}
	.credit-right .btn-filled {
		width: 100%;
	}
	.footer-wrapper h2 {
    margin-top: 40px;
	}
	.footer-wrapper ul li:last-child {
		margin-bottom: 10px;
	}
	.footer-btm {
		text-align: center;
	}
	.footer-btm .right {
		text-align: center;
	}
	.customer-testimonial-box {
		flex-wrap: wrap;
	}
	.imgbox {
    width: 100%;
	}
	.imgtxt {
    padding: 20px 20px;
    width: 100%;
	}
	.customer-testimonial-box-btm-inner {
		width: 100%;
		margin-bottom: 10px;
	}
	.customers-top h1 {
		font-size: 40px;
    line-height: 50px;
	}
	.joinus-box {
		flex-wrap: wrap;
		padding: 50px 30px;
	}
	.joinus-right,
	.joinus-right .btn-filled {
		width: 100%;
	}
	.whytoch-wrapper {
    padding: 50px 0 0 0;
    flex-wrap: wrap;
    flex-direction: column-reverse;
	}
	.whytoch-img {
    width: 100%;
    margin-top: 20px;
	}
	.whytoch-txt {
    padding: 0 20px;
    width: 100%;
	}
	.whytoch-txt h4 {
    font-size: 30px;
    line-height: 40px;
	}
	.whytoch-txt p {
    margin: 0 0 20px 0;
    width: 100%;
	}
	.team-list li {
    width: 100%;
		margin-bottom: 30px;
	}
	.team-list li .team-img {
    width: 85px;
    height: 85px;
	}
	.team-list li .team-txt h4,
	.team-list li .team-txt h6 {
		margin: 0;
	}
}
/* media close */
